@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}
@using Chat.Models;
<div class="text-center">
    <h1 class="display-4">Chat</h1>
    <br/>
    <textarea class="form-control" style="text-align:left;height:200px;" readonly>@string.Join("\n", Model.displayedMessages)</textarea>
    <br />
    <form method="POST">
        <div>
            <input type="text" name="text" class="form-control"/> 
        </div>
        <br />
        <div>
            <input type="submit" value="Добавить"/>
        </div>
    </form>
  
    <br />

</div>
